[Unit]
Description=MEGAcmd Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/mega-cmd-server
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
