[Unit]
Description=Steam (niri-steam)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/niri-steam -silent
Restart=on-failure
RestartSec=5
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=niri

[Install]
WantedBy=graphical-session.target